/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg: #1A0B2E;
    --text: #ffffff;
    --muted: #cfc8dd;
    --gradient: linear-gradient(135deg, #ffd54d, #ff2d95, #6a0dd1);
    --radius: 1000px;
}

body {
    font-family: "Inter", sans-serif;
    color: var(--text);
    background-color: var(--bg);
    overflow-y: hidden;
    min-height: 100vh;
    scroll-behavior: smooth;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 6.25rem;
    position: relative;
    border-bottom: 1px solid #271144;
}

.nav-logo a {
    text-decoration: none;
    color: var(--text);
    font-size: 2rem;
    font-weight: 700;
}

.nav-logo span {
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-links ul {
    display: flex;
    list-style-type: none;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
}

.nav-links a {
    text-decoration: none;
    color: var(--text);
    transition: 0.3s ease;
}

.nav-links a:hover {
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn {
    padding: 0.85rem 1rem;
    /* width: 8.44rem;
    height: 2.75rem; */
    background: var(--gradient);
    border-radius: var(--radius);
    color: var(--text);
    font-weight: 500;
    text-decoration: none;
    transition: 0.3s ease;
}

.btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 30px rgba(255, 45, 149, 0.35);
}

.hamburger {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    color: var(--text);
}

/* HERO SECTION */
.hero {
    min-height: 100vh;
    background: url("../assets/hero-bg.png") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 2rem;
}

.circle-wrapper {
    top: -100px;
    position: relative;
    width: clamp(220px, 40vw, 350px);
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    overflow: hidden;
    /* border: 4px solid rgba(255, 255, 255, 0.3); */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease;
}

.circle-wrapper:hover {
    box-shadow: 0 3px 10px #00FF88;
    cursor: pointer;
}

.circle-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.center-icon {
    position: absolute;
    width: 25%;
    max-width: 80px;
    min-width: 40px;
}

.badge {
    position: absolute;
    top: 10%;
    right: 40%;
    background-color: #00FF88;
    color: #000;
    padding: 0.4rem 0.75rem;
    font-size: clamp(0.65rem, 1.2vw, 0.85rem);
    font-weight: 700;
    border-radius: var(--radius);
    box-shadow: 0 3px 10px #00FF88;
}









/* Small devices: up to 576px */
@media (max-width: 575.98px) {
    .navbar {
        display: grid;
        grid-template-columns: auto auto;
    }

    .hamburger {
        display: block;
        justify-self: end;
    }

    .nav-links,
    .nav-cta {
        display: none;

    }
}


/* Medium devices: 576px to 992px */
@media (min-width: 576px) and (max-width: 991.98px) {
    .navbar {
        display: grid;
        grid-template-columns: auto auto;
    }

    .hamburger {
        display: block;
        justify-self: end;
    }

    .nav-links,
    .nav-cta {
        display: none;

    }
}

/* Large devices: above 992px */
/* @media (min-width: 992px) {
} */