/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg: #1A0B2E;
    --text: #ffffff;
    --muted: #cfc8dd;
    --gradient: linear-gradient(135deg, #ffd54d, #ff2d95, #6a0dd1);
    --radius: 1000px;
}

/* UTILITIES */
body {
    font-family: "Inter", sans-serif;
    background: var(--bg);
    color: var(--text);
    min-height: 100vh;
    overflow-x: hidden;
}

/* NAVBAR SECTION */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 6rem;
    border-bottom: 1px solid #271144;
}

.nav-logo a {
    font-size: 2rem;
    font-weight: 700;
    color: var(--text);
    text-decoration: none;
}

.nav-logo span {
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-links ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-links a {
    text-decoration: none;
    color: var(--text);
    transition: 0.3s ease;
}

.nav-links a:hover {
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn {
    padding: 0.85rem 1.4rem;
    background: var(--gradient);
    border-radius: var(--radius);
    color: var(--text);
    text-decoration: none;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    transition: 0.3s ease;
}

.btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 10px rgba(255, 45, 149, 0.35);
}

.hamburger {
    display: none;
    font-size: 2rem;
    cursor: pointer;
}

/* HERO SECTION */
.hero {
    min-height: calc(100vh - 90px);
    background: url("../assets/hero-bg.png") center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 2rem;
}

.hero-overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    text-align: center;
}

/* CIRCLE */
.circle-wrapper {
    position: relative;
    width: clamp(220px, 40vw, 350px);
    top: 2rem;
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: visible;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s ease;
    margin-bottom: 1.5rem;
}

.circle-wrapper:hover {
    box-shadow: 0 0 40px #00FF88;
}

.circle-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.center-icon {
    position: absolute;
    width: 25%;
    max-width: 80px;
}

.badge {
    position: absolute;
    top: 8%;
    right: 8%;
    background: #00FF88;
    color: #000;
    padding: 0.4rem 0.8rem;
    font-size: 0.8rem;
    font-weight: 700;
    border-radius: var(--radius);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    z-index: 5;
}

.hero-title {
    font-size: clamp(2rem, 4vw, 3.2rem);
    font-weight: 800;
}

.hero-text {
    max-width: 620px;
    color: var(--muted);
    line-height: 1.6;
}

.hero-btn {
    margin-top: 1rem;
}

.hero-title {
    font-size: 3.75rem;
    font-weight: 900;
    margin-bottom: 0.5rem;
}

.hero-text {
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

.hero-btn-subscribe {
    border: 1px solid #00FF88;

    padding: 0.85rem 1.4rem;

    border-radius: var(--radius);
    color: #00FF88;
    text-decoration: none;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    transition: 0.3s ease;
    margin-left: 0.8rem;
}

.hero-btn-subscribe:hover {
    transform: translateY(-2px);
    box-shadow: 0 3px 5px #00ff8859;
}


/* ABOUT SECTION */
.about {
    background-color: #1A0B2E;
    padding: 6rem 1rem;
    color: #ffffff;
}

.about-content {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.about-content h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.about-content p {
    font-size: 1rem;
    line-height: 1.6;
    color: #cfc8dd;
    max-width: 700px;
    margin: 0 auto 5rem;
}

.about hr {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto 5rem;
    border: none;
    height: 1px;
    background-color: #2d1350;
}

.about-stats {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
    text-align: center;
}

.stats-card h3 {
    font-size: 3rem;
    color: #00FF88;
    margin-bottom: 0.5rem;
}

.stats-card p {
    font-size: 1rem;
    line-height: 1.4;
    color: #cfc8dd;
}

/* SMALL DEVICE */
@media (max-width: 576px) {
    .navbar {
        display: grid;
        grid-template-columns: auto auto;
    }

    .hamburger {
        display: block;
        justify-self: end;
    }

    .nav-links,
    .nav-cta {
        display: none;
    }

    .hero-title {
        font-size: 2.5rem;
    }

    .btn-icon {
        font-size: 0.75rem;
        /* margin-left: 0.5rem; */
    }

    /* ABOUT SECTION */
    .about {
        padding: 4rem 1rem;
    }

    .about-content h2 {
        font-size: 2.2rem;
    }

    .about-content p {
        font-size: 0.95rem;
        margin-bottom: 4rem;
    }

    .about-stats {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    .stats-card h3 {
        font-size: 2.2rem;
    }

    .stats-card p {
        font-size: 0.9rem;
    }

}

/* ==============================
   TABLET
================================ */
@media (max-width: 992px) {
    .about-content h2 {
        font-size: 2.5rem;
    }

    .about-stats {
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
    }
}